body {
    background-color: #f9fafb;
}

.container {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-size: 48px;
    color: #db2828;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}